<%- include('../partials/header') %>
  <% if (series) { %>
    <% series.forEach((s) => { %>
      <div>
        <p>Name: <a href='/series/<%= s.tmdbId %>'><%= s.name %></a></p>
        <p>Description: <%= s.description %></p>
        <p>Rating: <%= s.tmdbRating %></p>
        <p>Seasons: <%= s.seasons.length %></p>
        <form action="/series/<%= s._id %>?_method=DELETE" method="POST">
          <button>Delete</button>
        </form>
      </div>
    <% }) %>
  <% } else { %>
    <p>Looks like you haven't added anything yet! <a href='/search/index'>Find a Show</a></p>
  <% } %>
<%- include('../partials/footer') %>