<%- include('../partials/header') %>
  <% if (series) { %>
    <% series.forEach((s) => { %>
      <div class="series-container">
        <img class="series-thumbnail" src="https://image.tmdb.org/t/p/original/<%= s.thumbnail %>">
        <div>
          <h2><a href='/series/<%= s.tmdbId %>'><%= s.name %></a></h2>
          <p>TheMovieDB Rating: <%= s.tmdbRating.toFixed(2) %> / 10</p>
          <img class="star-rating" src="/images/rating<%= Math.floor(s.tmdbRating) %>.png">
          <p>Seasons: <%= s.seasons.length - 1 %></p>
          <form action="/search/<%= s.tmdbId %>">
            <button>More Shows Like <%= s.name %></button>
          </form><br>
          <form action="/series/<%= s._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  <% } else { %>
    <p>Looks like you haven't added anything yet! <a href='/search/index'>Find a Show</a></p>
  <% } %>
<%- include('../partials/footer') %>