<%- include('../partials/header') %>
  <form class="search-box" action="/search/search">
    <input type="text" name="series">
    <button>Search</button>
  </form>
  <div class="search-container">
    <% series.forEach((s) => { %>
      <div class="search-preview">
        <% if (s.poster_path) { %>
          <img class="thumbnail" src="https://image.tmdb.org/t/p/original/<%= s.poster_path %>" alt="<%= s.name %>">
        <% } else { %>
          <img class="thumbnail" src="https://otv.one/uploads/default_image/thumbnail.jpg" alt="No Thumbnail Available">
        <% } %>
        <h3><%= s.name %></h3>
        <% if (user) { %>
          <form action="/series?tmdbId=<%= s.id %>" method="POST">
            <button>Add to My List</button>
          </form>
        <% } %>
      </div>
    <% }) %>
  </div>
<%- include('../partials/footer') %>